/AppNotasDesktop2/build/
/AppNotasDesktop2/dist/
/AppNotasDesktop2/nbproject/private/
/CursoEmVideo-Java/CalculadoraIdade/build/
/CursoEmVideo-Java/CalculadoraIdade/nbproject/private/
/CursoEmVideo-Java/HoraSistema/build/
/CursoEmVideo-Java/HoraSistema/nbproject/private/
/CursoEmVideo-Java/HoraSwing/build/
/CursoEmVideo-Java/HoraSwing/nbproject/private/
/CursoEmVideo-Java/IdiomaSistema/build/
/CursoEmVideo-Java/IdiomaSistema/nbproject/private/
/CursoEmVideo-Java/JavaFX/build/
/CursoEmVideo-Java/JavaFX/dist/
/CursoEmVideo-Java/JavaFX/nbproject/private/
/CursoEmVideo-Java/Operadores Swing/build/
/CursoEmVideo-Java/Operadores Swing/nbproject/private/
/CursoEmVideo-Java/OperadoresAritmeticos/build/
/CursoEmVideo-Java/OperadoresAritmeticos/nbproject/private/
/CursoEmVideo-Java/SomaSwing/build/
/CursoEmVideo-Java/SomaSwing/nbproject/private/
/CursoEmVideo-Java/Swing/build/
/CursoEmVideo-Java/Swing/dist/
/CursoEmVideo-Java/Swing/nbproject/private/
/CursoEmVideo-Java/TesteTipos/target/
/CursoEmVideo-Java/TiposPrimitivos2/target/
/AppNotasWeb/build/
/AppNotasWeb/dist/
/AppNotasWeb/nbproject/private/
